@page "/counter"
@inject AppState _appState

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        _appState.SetMetaTags(new MetaTags()
        {
            Title = "Counter",
            Description = "Some description"
        });
    }
}
