@page "/"
@inject AppState _appState

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {
        _appState.SetMetaTags(new MetaTags()
        {
            Title = "Blazor MetaTags",
            Description = "Some description"
        });
    }
}